@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --text: #a9a9a9;
    --rectangle: #e5e5e5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =================================    HEADER    ================================= */
header {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin: 50px 0;
}

header .user-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-image: url("./Images/profilePhoto.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header h2 {
    font-size: clamp(1.75rem, 1rem + 2vw, 2rem);
}

header h5 {
    color: var(--text);
}

header .user-stats {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

header .stats {
    background-color: var(--rectangle);
    width: 94px;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
}

/* =================================    GALLERY    ================================= */
.gallery {
    width: 90%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1%;
    grid-template-areas:
        "img-1 img-2 img-2"
        "img-3 img-3 img-4"
        "img-5 img-6 img-4";
    margin-bottom: 150px;
}

.gallery .img-1 {
    grid-area: img-1;
    background-image: url("./Images/photo1.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.gallery .img-2 {
    grid-area: img-2;
    background-image: url("./Images/photo2.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.gallery .img-3 {
    grid-area: img-3;
    background-image: url("./Images/photo3.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.gallery .img-4 {
    grid-area: img-4;
    background-image: url("./Images/photo4.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.gallery .img-5 {
    grid-area: img-5;
    background-image: url("./Images/photo5.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.gallery .img-6 {
    grid-area: img-6;
    background-image: url("./Images/photo6.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

/* =================================    FOOTER    ================================= */
footer {
    width: 90%;
    padding: 50px 0;
    font-size: 14px;
}

/* =================================    FOOTER    ================================= */
@media only screen and (max-width: 700px) {
    header .user-image {
        width: 120px;
        height: 120px;
    }

    header .stats {
        background-color: var(--rectangle);
        width: 90px;
        padding: 8px 0;
        text-align: center;
        border-radius: 5px;
    }

    .stats h3 {
        font-size: 16px;
    }

    .stats h5 {
        font-size: 11px;
    }
}
